/* 输定字体大小 */

/* .view-content .small-font , */
.small-font.markdown-preview-view .markdown-embed .markdown-preview-view,
.small-font.markdown-preview-view {
  font-size: 16px !important;
  line-height: 160%;
}

.small-font.markdown-preview-view p {
  margin-block-start: 4px;
  margin-block-end: 4px;
}

/* 关闭显示标签页标题栏。 */
.small-font.markdown-preview-view .mod-header .inline-title {
  display: none;
  line-height: 0px;
  /* text-align: right; */
}

.view-content .small-font .inline-title {
  display: none;
}

/* !关闭显示标题栏：close_show_title */
.close_show_title.markdown-preview-view .mod-header .inline-title {
  display: none;
  line-height: 0px;
}

.view-content .colse_show_title .inline-title {
  display: none;
}

/* 2024-03-29_13:23：取消显示Yaml metadata */
.colse_show_title.markdown-preview-view.show-properties .metadata-container {
  display: none !important;
}

/* !设定界面宽度全宽：full_width_page*/
.full_width_page.markdown-source-view.mod-cm6.is-readable-line-width,
.full_width_page.markdown-preview-view {
  --file-line-width: 100%;
  padding: 0px;
}

/* 设定字体大小 */
/* .full_width_page.markdown-preview-view {
  font-size: 22px !important;
  line-height: 150%;
} */

.full_width_page {
  .markdown-preview-section {
    /* 缩减底部空白 不然可能加载成空白页 */
    padding-bottom: 0px !important;
    min-height: unset !important;
  }

  .embedded-backlinks {
    display: none;
  }

  .markdown-preview-view,
  .markdown-source-view.is-live-preview {

    table,
    .cm-table-widget,
    .table-wrapper {
      width: 100% !important;
    }
  }
}

/* !设定Excalidraw的CSS：Excalidraw-Markdown */
.Excalidraw-Markdown.markdown-preview-view .mod-header .inline-title {
  display: none;
  line-height: 0px;
  /* text-align: right; */
}

.view-content .Excalidraw-Markdown .inline-title {
  display: none;
}

/* 设定字体大小 */
/* .Excalidraw-Markdown.markdown-preview-view{
  font-size: 18px !important;
  line-height: 150%;
} */

/* ==word-font 论文排版格式，缩行缩进、中英文字体== */

.word-font.markdown-preview-view {
  font-family: "Times New Roman", 宋体 !important;
}

.word-font div p {
  text-indent: 2em;
}

.word-font strong {
  font-family: "Times New Roman", "黑体";
  font-weight: bold;
}

.word-font p {
  /* border: solid 1px #ff0000; */
  font-family: "Times New Roman", "宋体";
  text-decoration-line: none;
  margin: 10px 0px;
  line-height: 120%;
  text-indent: 2em;
  font-size: 20px;
}

.word-font h1 {
  font-family: "Times New Roman", "宋体";
  font-size: 42px !important;
  font-weight: bold;
  text-align: center;
}

.word-font h2 {
  font-family: "Times New Roman", "黑体";
  font-weight: 700;
  font-size: 35px !important;
  font-weight: bold;
  text-align: left;
}

.word-font h3 {
  font-family: "Times New Roman", "黑体";
  font-weight: 700;
  font-size: 25px !important;
  font-weight: lighter;
  text-align: left;
}

.word-font h4 {
  font-family: "Times New Roman", "宋体";
  font-weight: 700;
  font-weight: lighter;
  font-size: 23px !important;
  text-align: left;
}

.word-font h5,
h6 {
  font-family: "Times New Roman", "宋体" !important;
  font-weight: normal !important;
  font-size: 20px !important;
  text-align: left !important;
}

.word-font .footnote-link {
  color: #2e3338;
  line-height: 10px !important;
}

sup {
  vertical-align: 25%;
  font-size: 10px;
}

.word-font .image-embed {
  display: flex;
  align-items: center;
  justify-content: center;
}

.word-font ul,
.word-font ol {
  /* border: solid 1px #ff0000; */
  font-family: "Times New Roman", "宋体";
  text-decoration-line: none;
  margin: 10px 0px;
  line-height: 120%;
  font-size: 20px;
}

/* 普通表格 */

.word-font blockquote p {
  font-family: "楷体", "Times New Roman";
}

.word-font .theme-light blockquote p {
  color: #5f5f5f;
}

.word-font .theme-dark blockquote p {
  color: #a1a1a1;
}

/* !不显示顶部工具栏：no_top_toolbar */
.modal .view-header:has(~.view-content .no_top_toolbar) {
  display: none !important;
}