/* 实时预览模式下：块嵌入不缩进，无左侧标志 */
.markdown-embed {
  border-left: none;
  border: 1px solid var(--background-modifier-border);
  border-radius: 8px;
  background-color: var(--background-primary-alt);

  .cm-gutters {
    display: none;
  }
}


/* === 预览和编辑模式下的卡片样式 == */
.markdown-preview-view .markdown-embed,
.markdown-preview-view .file-embed {
  background-color: var(--background-primary-alt);
  padding-top: var(--p-spacing);
  padding-bottom: var(--p-spacing);

  display: block;
}


/* 隐藏嵌入的标题 */
.embed-title {
  display: none;
}

/* 设置嵌入样式 */
:is(.markdown-preview-view, .markdown-rendered) .markdown-embed-content {
  padding-right: 0px;
  max-width: 100%;
  overflow: auto;

}

/* 在callout中的高度限制 */
:is(.callout) .markdown-embed-content {
  padding-right: 0px;
  max-height: 480px;
  max-width: 100%;
  overflow: auto;
}