.popover.hover-popover>.markdown-embed {
  width: fit-content;
  max-width: 600px;
  max-height: 400px;
  font-size: 24px;

  .cm-editor {
    width: 800px;
    height: 400px;
  }

  &[data-type="footnote"] .cm-editor {
    max-width: 600px;
    font-size: 24px;
    overflow: hide;
  }
}

.surfing-embed-website {
  height: 400px;
  width: 800px;
}

.surfing-hover-popover .surfing-hover-popover-container,
.surfing-hover-popover .wb-view-content.node-insert-event,
.surfing-embed-website .surfing-embed-website-container,
.surfing-embed-website .surfing-embed-website-container .wb-view-content.node-insert-event {
  height: 100%;
  width: 800px;
}

.popover.hover-editor .popover-content:has(div[data-type^="surfing-view"]) {
  width: 800px;
  /* width: 100%; */
}

